@model IEnumerable<Domain.Entities.User>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    
<div class="collapse navbar-collapse __web-inspector-hide-shortcut__" data-nav-image="Content/assets/img/blurred-image-1.jpg" data-color="orange">
    <ul class="nav-item ">
        <li class="nav-link area-line">


             Connected as @ViewBag.role  @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)

        </li>
    </ul>
    <ul class="navbar-nav ml-auto">

        @if (TempData["role"] == "President")
        {

            <li class="dropdown nav-item">
                <span><a class="dropdown-toggler nav-link" href=@Url.Action("Index", "Home")>Home</a></span>

            </li>
            <li class="dropdown nav-item">
                <span><a class="dropdown-toggler nav-link" href=@Url.Action("Index", "Evenement", new { id = item.Id })>Events</a></span>

            </li>

            <li class="dropdown nav-item">
                <span><a class="dropdown-toggler nav-link" href=@Url.Action("IndexTache", "Tache")>Manage Task</a></span>

            </li>
            <li class="dropdown nav-item">
                <span><a class="dropdown-toggler nav-link" href=@Url.Action("Index", "Post")>Blog</a></span>

            </li>
            <li class="dropdown nav-item">
                <span><a class="dropdown-toggler nav-link" href=@Url.Action("Details", "User",new { id = item.Id })>My Profil</a></span>

            </li>



        }
        else if (TempData["role"] == "Organizer")
        {

            <li class="dropdown nav-item">
                <a class="dropdown-toggler nav-link" href=@Url.Action("GetMyTasks", "Tache", new { id = item.Id })>My Tasks</a>

            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggler nav-link" href=@Url.Action("", "")>Notifications </a>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggler nav-link" href=@Url.Action("charts", "Feedbacks")>Statistic </a>
            </li>


        }
        else
        {

            <li class="dropdown nav-item">
                <a class="dropdown-toggler nav-link" href=@Url.Action("Index", "Home")>Home</a>

            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggler nav-link" href=@Url.Action("", "", new {  })>Events</a>

            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggler nav-link" href=@Url.Action("Index", "Post")>Blog</a>

            </li>

            <li class="dropdown nav-item">
                <a class="dropdown-toggler nav-link" href=@Url.Action("Details", "User",new { id = item.Id })>My Profil</a>
            </li>


        }
    </ul>
</div>
        
        

        }
